{{#extend "master"}}
{{#content "body" mode="append"}}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="row">
            <div class="col-8">
                <h3>Concepto: {{sale.concept}}</h3>
                <input type="hidden" id="saleId" value="{{sale._id}}">
            </div>
            <div class="col-4 text-right">
                <h3>Fecha: 12/12/2021</h3>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-1 left">
                <h4>subtotal: ${{sale.subtotal}}</h4>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-1">
                <h4>descuento: ${{sale.discount}}</h4>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-1 left">
                <h4>servicio: ${{sale.service}}</h4>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-1">
                <h4>total: ${{sale.total}}</h4>
            </div>
        </div>
    </div>
    <div class="card-body" style="padding-bottom: 0;">
        <div class="table-responsive mb-2" style="max-height: 350px;">
            <table id="mainTable" class="table align-items-center">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">Articulo</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Precio de venta</th>
                        <th class="text-center">Estatus</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {{#each sale.saleDetail}}
                    <tr>
                        <td class="text-center">{{this.productID.name}}</td>
                        <td class="text-center"> {{#toFixed this.quantity}}{{/toFixed}}</td>
                        <td class="text-center"> ${{#toFixed this.unitPrice}}{{/toFixed}} </td>
                        {{#if this.changed}}
                        <td class="text-center">
                            <span class="badge badge-pill badge-warning">Cambiado</span>
                        </td>
                        {{else}}
                        {{#if this.added}}
                        <td class="text-center">
                            <span class="badge badge-pill badge-success">Agregado</span>
                        </td>
                        {{/if}}
                        <td class="text-center">
                            <span class="badge badge-pill badge-primary">En venta inicial</span>
                        </td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>


    {{#customIf sale.canceled '==' false}}
    <div class="card-footer text-right">

        <div class="row">
            <button type="button" id="cancelSaleBtn" class="btn btn-secondary text-danger ml-auto"
                data-dismiss="modal">Cancelar
                venta</button>
            <button type="button" id="changeSaleBtn" class="btn btn-warning">Realizar cambio</button>
        </div>
    </div>
    {{/customIf}}

</div>

{{/content}}

{{/extend}}