<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cortes de Caja</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400"
      rel="stylesheet"
    />

    <style>

      * {font-family: 'Open Sans', sans-serif; } .logo-img{ width: 5cm
      !important; } table { border-collapse: collapse; } .table { width: 100%;
      margin-bottom: 1rem; border-color: #8898aa; color: #525f7f;
      background-color: transparent; } .table .thead-light th { color: #8898aa;
      border-color: #8898aa; background-color: #f6f9fc; border: 1px solid
      #8898aa !important;} .table .thead-light th { color: #8898aa;
      background-color: #f6f9fc; } .table .list td { border: 1px solid #8898aa
      !important;} tr { page-break-inside:avoid; page-break-after:auto }

    </style>
  </head>
  <body>
    <table id="header" style="margin-bottom: 0px;">
      <tr>
        <td style="width: 75%;">
          <img class="logo-img" src="data:image/png;base64,{{logo}}" />
        </td>
        <td style="margin-top: auto; margin-bottom:auto">
          <h5 style="margin:0;">Cortes de Caja </h5>
          <h5 style="margin-top:8px;margin-bottom:3px;">Fecha:
            {{date}}</h5>

        </td>
      </tr>
    </table>

    <table id="extra">
      <tr>
        <td style="width:50%;">
          <h5>Fecha de inicio
            {{date1}}</h5>
        </td>
        <td style="width:50%; text-align:right">
          <h5>Fecha fin {{date2}}</h5>
        </td>
      </tr>
    </table>

    <div class="">
      <table id="" class="table">
        <thead class="thead-light">
          <tr>
            <th><p style="font-size:12px; ">Fecha</p></th>
            <th><p style="font-size:12px; ">Ventas totales</p></th>
          </tr>
        </thead>
        <tbody class="list">
          {{#each cashOuts}}
            <tr>
              <td class="text-center" style="font-size:12px">
                {{this.cashOutDate}}</td>
              <td class="text-center" style="font-size:12px; text-align:right">
                ${{#toFixed this.sales}}{{/toFixed}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </body>
</html>