{{#extend "master"}}
{{#content "body" mode="append"}}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <h3 class="mr-3">Concepto: {{quote.concept}}</h3>
                <input type="hidden" id="quoteId" value="{{quote._id}}">
            </div>
            <div class="col-4 text-right">
                <h3>Fecha: {{quote.date}}</h3>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-1">
                <h4>Descuento: ${{quote.discount}}</h4>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-1 left">
                <h4>Extra: ${{quote.extra}}</h4>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-1 left">
                <h4>Subtotal: ${{quote.subtotal}}</h4>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mt-1">
                <h4>Total: ${{quote.total}}</h4>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-1">
                <h4>Realizada por: {{quote.madeBy}}</h4>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-1">
                <h4>Actualizada por: {{quote.updatedBy}}</h4>
            </div>
        </div>
    </div>

    <div class="table-wrapper mainTable">
      {{#customIf quote.quoteDetail.length ">" 0}}
        <div class="card-body" style="padding-bottom: 0;">
        <h3>Productos</h3>
          <div class="table-responsive mb-2" style="max-height: 350px;">
            <table id="" class="table align-items-center">
              <thead class="thead-light">
                <tr>
                  <th class="text-center">Articulo</th>
                  <th class="text-center">Cantidad</th>
                  <th class="text-center">Precio de venta</th>
                </tr>
              </thead>
              <tbody class="list">
                {{#each ../quote.quoteDetail}}
                  <tr>
                    <td class="text-center">{{this.productID.name}}</td>
                    <td class="text-center">
                      {{#toFixed this.quantity}}{{/toFixed}}</td>
                    <td class="text-center">
                      ${{#toFixed this.unitPrice}}{{/toFixed}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      {{/customIf}}

      {{#customIf quote.serviceDetail.length ">" 0}}
        <div class="card-body" style="padding-bottom: 0;">
        <h3>Servicios</h3>
          <div class="table-responsive mb-2" style="max-height: 350px;">
            <table id="" class="table align-items-center">
              <thead class="thead-light">
                <tr>
                  <th class="text-center">Servicio</th>
                  <th class="text-center">Costo</th>
                </tr>
              </thead>
              <tbody class="list">
                {{#each ../quote.serviceDetail}}
                  <tr>
                    <td class="text-center">{{this.description}}</td>
                    <td class="text-center">
                      ${{#toFixed this.total}}{{/toFixed}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      {{/customIf}}
    </div>
    


    <div class="card-footer">
        <div class="row">
            <div class="col d-flex justify-content-between">
                <div class="">
                    <button type="button" class="btn btn-outline-danger"
                        onclick="location.href = '/cotizaciones';">Regresar</button>
                        <button
                id="print"
                type="button"
                class="btn btn-outline-primary"
              >Imprimir</button>
                </div>
                <div class="">
                    <button type="button" id="changeQuoteBtn" class="btn btn-warning">Editar cotización</button>
                </div>
            </div>
        </div>
    </div>

</div>

{{/content}}

{{/extend}}